<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.com.ths.crash.infocollect" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>crashInfoCollectThsPlugin</name>
<js-module name="crashInfoCollectThsPlugin" src="www/crashInfoCollectThsPlugin.js">
<clobbers target="cordova.plugins.crashInfoCollectThsPlugin" />
</js-module>
<platform name="android">

<config-file parent="/*" target="res/xml/config.xml">
<feature name="crashInfoCollectThsPlugin"><param name="android-package" value="cn.com.ths.crash.infocollect.crashInfoCollectThsPlugin" /></feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/crashInfoCollectThsPlugin.java" target-dir="src/cn/com/ths/crash/infocollect/crashInfoCollectThsPlugin" />
<source-file src="src/android/CrashHandler.java" target-dir="src/cn/com/ths/crash/infocollect/CrashHandler" />
<source-file src="src/android/ThsApp.java" target-dir="src/cn/com/ths/crash/infocollect/ThsApp" />
</platform>
</plugin>